* {
    transition: 0.4s all ;
    font-family: comfortaa;
    /* overflow: hidden; */
}
body {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.ui{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addChore {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    /* margin: 20px; */
    
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    
}

#choreSelect {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}


#addLog {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px;
}

#pendingList{
    max-height: 140px;
    overflow-y: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
}

#canvas {
    background-color: #cfebff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#log{
    max-height: 140px;
    overflow-y: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;

}
input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #0055ff;
    color: white;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #0077ff;
    box-shadow: 0px 0px 10px rgb(0, 55, 255);
}
.delete-btn:hover {
    background-color: #ff0000;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.approved-btn:hover {
    background-color: #33ff00;
    box-shadow: 0px 0px 10px rgb(13, 255, 0);
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #efefef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.4s forwards;
}
.delete-btn {
    background: #ff0066;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    width: 60px;
}

.approved-btn {
    background-color: #30b010;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    border: none;
}

#total{
    justify-content: center;
    width: 300px;
    text-align: center;
    margin: 20px;
}

#money{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}